$mainColor: rgb(247, 136, 47); 
$secondaryColor: rgb(247, 195, 49);
// $tertiaryColor: #6b7a8f;
// $baseColor: #dcc7aa;

// $mainColor: #3b284d; 
// $secondaryColor: #885282;
$tertiaryColor: #f4decb;
$baseColor: #f8eee7;

// $mainColor: #07889b; 
// $secondaryColor: #e37222;
// $tertiaryColor: #66b9bf;
// $baseColor: #eeaa7b;

$shadow: rgba(163,163,163,0.56);
$shadowStrong: rgba(92, 92, 92, 0.56);

@mixin generalButton ($mainColor, $shadow) {

    background-color: $mainColor;
    padding: 10px;
    border: 0px;
    border-radius: 3px;
    color: white;
    -webkit-box-shadow: 5px 5px 6px 1px $shadow;
    -moz-box-shadow: 5px 5px 6px 1px $shadow;
    box-shadow: 5px 5px 6px 1px $shadow;
}

@mixin generalInput ($baseColor) {
    border: 0px;
    border-bottom: 1px solid red;
    background-color: $baseColor;
}
@mixin moduleSetup {

    background-color: $baseColor;
    position: fixed;
    width: 450px;
    top: 100px;
    right: 100px;
    padding: 20px;
    border-radius: 10px;

    -webkit-box-shadow: 2px 4px 13px 0px $shadowStrong;
    -moz-box-shadow: 2px 4px 13px 0px $shadowStrong;
    box-shadow: 2px 4px 13px 0px $shadowStrong; 
}

//                      ROOT                      //
body {
    background-color: $baseColor
}

//                      HEADER                      //
#container {

    width: 100%;
    background: $mainColor; 

    #header {
        width: 60%;
        margin: 0 auto;
        background: linear-gradient(to right, $mainColor, $secondaryColor, $mainColor ) ;
        position: relative;
        height: 60px;

        #bitSpan {
            font-size: 40px;
            font-family: 'Dancing Script', cursive;
            display: inline-block;
            color: white;
            a {text-decoration: none;            
        
            }
        }
        div {
            position: absolute;
            right: 30px;
            top: 17px;
            display: inline-block;

            span {
                margin-left: 17px;
                font-size: 20px;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

//                      PEOPLE                      //

#PeoplePage {

    width: 40%;
    margin: 0 auto;

    //              search                  //

    #inputDiv {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        //place in var 
        -webkit-box-shadow: 0px 0px 8px 5px $secondaryColor;
        -moz-box-shadow: 0px 0px 8px 5px $secondaryColor;
        box-shadow: 0px 0px 8px 5px $secondaryColor;
        

        i {
            font-size: 30px;
            padding-top: 5px;
            color: white;
        }
        
        div {
            text-align: center;
            
        }

        input {
            width: calc(100% - 80px);
            border: 0px;
            background-color:  $mainColor;
            height: 40px; 
            color: white;   
            padding: 0px; 
            float: left; 
            background: linear-gradient(to right, $mainColor, $secondaryColor, $mainColor ) ;
                                 

        }
        #searchIconDiv {
            width: 40px;
            background-color:  $mainColor;
            height: 40px;  
            float: left; 
            border-radius: 6px 0px 0px 0px;
                                                        
                  
        }
        #cancelIconDiv {
            width: 40px;
            background-color:  $mainColor;
            height: 40px; 
            float: left;  
            border-radius: 0px 6px 0px 0px;
                                                       
                          
        }
    }

    //              itemList                //

    #itemList {
      

        #singleItem{
            margin-top: 45px;
            box-sizing: border-box;
            width: 100%;
            height: 100px;
            padding: 10px;
            border-radius: 5px;


            //place in var class something
            -webkit-box-shadow: 0px 0px 13px 2px $shadow;
            -moz-box-shadow: 0px 0px 13px 2px $shadow;
            box-shadow: 0px 0px 13px 2px $shadow;

            a {
                color: black;
            }

            #imageDiv {

                width: 80px;
                height: 80px;            
                // float: left;                             
                display: inline-block;
               
                
                img {
                    border-radius: 50%;
                    display: block;
                    max-height: 80px;
                    max-width: 80px;
                    margin: 0 auto;
                }
            }
            #nameAndDescriptionDiv {
                display: inline-block;
                width: calc(100% - 140px);
                height: 80px;   
                vertical-align: top;
    
                p, h3 {
                    margin: 0px 0px 0px 10px;
                }
                h3{
                    margin-bottom: 5px;
                }
              
            }
            #lastPostDiv {
                display: inline-block;
                width: 60px;
                height: 80px;   
                vertical-align: top;
            } 
        }               
    }
}
              
//                       PROFILE                             //

#ProfilePage {

    width: 40%;
    min-width: 864px;
    margin: 0 auto;
    text-align: center;            

    img {
        border-radius: 50%;
        display: block;
        height: 300px;
        width: 300px;
        margin: 0 auto;
        margin-top: 40px;

        -webkit-box-shadow: 0px 0px 18px 2px $shadow;
        -moz-box-shadow: 0px 0px 18px 2px $shadow;
        box-shadow: 0px 0px 18px 2px $shadow;
    }
    h1 {
        margin: 15px 0px;
    }
    #editProfileSpan {
        padding: 4px 8px;
        border: 2px solid $secondaryColor;
        border-radius: 10px;
        :hover {
            cursor: pointer;
        }
    }
   
    p {
        margin-top: 15px;
    }

    #postsAndCommentsDiv{
        //          change colors..add to vars 
        position: relative;
        
        h4{
            margin: 0px;
            padding-left: 20px;
            padding-right: 10px;            
            background-color: $shadow;  
            border-radius: 0px 20px 20px 0px;
            margin-left: 17px; 
            font-size: 22px; 
            line-height: 32px;         
        }
        span {
            background-color:  $mainColor;
            border-radius: 50%;
            color: white;
            display: table-cell;
            height: 32px;
            width: 32px;
            text-align: center;
            vertical-align: middle;            
            
        }

        #PostsDiv{
            display: inline-block;
            position: relative;            

            div{
                position: absolute;
                
            } 
        }
        #CommentsDiv{
            display: inline-block;
            position: relative;
            margin-left: 50px;            
           
            div{
                position: absolute;
                top: 0px;
                left: 0px;
                
            }          
        }
    }
}
//                       PROFILE MODAL                        //

#ProfileModal {

    input {
        @include generalInput ($baseColor)
    }

    #uploadNameDiv{
        margin-bottom: 120px;
        margin-top: 50px;
        

        label {
            color: red;
        }
        
    }
    #uploadAboutDiv{
        margin-bottom: 20px;              
    }
    button {
       @include generalButton ($mainColor, $shadow);
    }
}

//                            FEED                          //
#FeedPage {

    width: 50%;
    margin: 0 auto;
}
#PostList {
    width: 90%;
    display: inline-block;
}
#SideBarNewPosts {
    width: 1%;
    display: inline-block;
    vertical-align: top;   
    position: relative; 
}

//              filterList DOWN            //
#FilterList{

    position: relative;
    top: 20px;
    left: 20px;
    display: inline-block;
    -webkit-box-shadow: 2px 4px 13px 0px $shadowStrong;
    -moz-box-shadow: 2px 4px 13px 0px $shadowStrong;
    box-shadow: 2px 4px 13px 0px $shadowStrong;

    button {
        background-color: $secondaryColor;
        border: 0px;
        border-radius: 3px; 
        width: 120px;
        color: white;      
                       
    }    

    #contentList {
        // display: none;
        position: absolute;
        z-index: -1;
        visibility: hidden; /* hides sub-menu */
        top: 100%;
        left: 0;
        width: 100%;
        opacity: 0;
        transform: translateY(-2em);
        transition: all 0.4s ease-in-out 0.3s, visibility 1s linear 0.5s, z-index 0s linear 0.5s;
        outline: none;
        -webkit-box-shadow: 2px 4px 13px 0px $shadowStrong;
        -moz-box-shadow: 2px 4px 13px 0px $shadowStrong;
        box-shadow: 2px 4px 13px 0px $shadowStrong;
                
        button {
            width: 120px;
            padding: 5px;
        }
    }
}
#FilterList:focus #contentList,
#FilterList:focus-within #contentList,
#FilterList:hover #contentList {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
   /* this removes the transition delay so the menu will be visible while the other styles transition */
}

//               newPost UP                 //

#NewPosts{

    position: fixed;
    bottom: 150px;
    right: 80px;
    display: inline-block;

    i {
        border-radius: 50%;
        margin-top: 5px;
    }

    
    #contentButtons {
        display: none;
        position: absolute;
        z-index: 1;
        bottom: 65px;
        background-color: $baseColor;  

    }

    i{
        color: $secondaryColor;
        font-size: 65px;
        display: inline;

        -webkit-box-shadow: 2px 4px 13px 0px $shadowStrong;
        -moz-box-shadow: 2px 4px 13px 0px $shadowStrong;
        box-shadow: 2px 4px 13px 0px $shadowStrong;    
    }
    
    button {
        background-color: $baseColor;
        border: 0px;
    }
    span {
        display: inline-block;
        
    }
}


//           POST           \\

.Post {

    margin-top: 20px;
    padding: 20px;
    background-color: $tertiaryColor;
    position: relative;
    border-radius: 5px;

    -webkit-box-shadow: 2px 4px 13px 0px $shadowStrong;
    -moz-box-shadow: 2px 4px 13px 0px $shadowStrong;
    box-shadow: 2px 4px 13px 0px $shadowStrong;

    .textPostDiv {
        text-align: left;
        display: inline-block;
        width: 33%;
        
    }
    .commentPostDiv {
        text-align: right;
        display: inline-block;
        width: 33%;        
    }
    .deletePostButton{
        text-align: center;
        display: inline-block;
        width: 33%;
    }
    .imageDivOnFeed {
        
        img {
            width: 100%;
            margin-bottom: 16px;
            
        }
        
    }
    .videoDivOnFeed {

        iframe {
            width: 100%;
            height: 330px;
            margin-bottom: 16px;
        }
    }
}
//                      IMAGE MODAL                       //
.imageModal {

    @include moduleSetup;

    
    div {
        margin-top: 20px;
    }

    input {
        @include generalInput ($baseColor);
        width: 100%;
        margin-top: 15px;        
    }
    button {
        @include generalButton ($mainColor, $shadow);
        display: inline-block;
        margin-right: 20px;       

    }
}
//                      TEXT MODAL                       //
.textModal {

    @include moduleSetup;


    div {
        margin-top: 20px;
    }

    input {
        @include generalInput ($baseColor);
        width: 100%;
        margin-top: 15px;        
    }
    button {
        @include generalButton ($mainColor, $shadow);
        display: inline-block;
        margin-right: 20px;       

    }
}
//                      VIDEO MODAL                       //
.videoModal {
    
    @include moduleSetup;

    div {
        margin-top: 20px;
    }

    input {
        @include generalInput ($baseColor);
        width: 100%;
        margin-top: 15px;        
    }
    button {
        @include generalButton ($mainColor, $shadow);
        display: inline-block;
        margin-right: 20px;       

    }
}
#postDetails {
    width: 40%;
    margin: 20px auto;
    background-color: $tertiaryColor;
    border-radius: 15px;
    padding: 0px;

    -webkit-box-shadow: 0px 0px 18px 2px $shadowStrong;
        -moz-box-shadow: 0px 0px 18px 2px $shadowStrong;
        box-shadow: 0px 0px 18px 2px $shadowStrong;

    .Post {
    box-shadow: 0px 0px 0px 0px;
    border-radius: 15px;   
    margin: 0px;  
    padding: 10px; 
    

    }
    .commentsDiv {

        padding: 10px 20px;
        div {
            display: inline-block;
            margin-left: 15px;
            background-color: $shadow;
            padding: 2px 10px;
            border-radius: 15px;

            p {
                display: inline-block;
                vertical-align: middle;
                margin: 0px;
                padding-left: 12px;
            }    
            span {
                vertical-align: middle;
                display: inline-block;                                
            }
        }
        img{
            border-radius: 50%;
            display: inline-block;
            height: 40px;
            width: 40px;
        } 
    }

    //              APRICOT SPACE               //


    #commentControls {
        padding: 10px 20px;
        margin-top: 20px;
        
        img {

            border-radius: 50%;
            display: inline-block;
            height: 40px;
            width: 40px;
        }

        div {
            display: inline-block;
            margin-left: 15px;
            background-color: $baseColor;
            padding: 7px 10px;
            border-radius: 25px;
            width: calc(100% - 60px);

            input {
                @include generalInput($shadow);
                width: 100%;
                background-color: $baseColor;
            }
        }
    } 
}

//                      LANDING PAGE                      //

#landingPage {

    height: 100vh;
    box-shadow: inset 200px 200px 20px 1000px rgba(255, 115, 0, 0.5);    
    background-image: url('../shared/Shea.jpg');
    // background-image: url('../shared/Henrique.jpg');
    // background-image: url('../shared/Kevin.jpg');        
    // background-image: url('../shared/Phil.jpg');  
    background-size: cover;
    overflow: hidden;   

    h1 {
        color: $secondaryColor;       
        // font-family: 'Pacifico', cursive;
        // font-family: 'Great Vibes', cursive;
        // font-family: 'Satisfy', cursive;
        // font-family: 'Italianno', cursive;
        // font-family: 'Calligraffitti', cursive;
        font-family: 'Dancing Script', cursive;
        font-size: 5em;
        margin-left: 30px;
    }
    h3 {
        color: $secondaryColor;  
        margin: 0px 0px 20px 30px;
                     
    }

    div {
        margin: 0px 0px 0px 30px;
        float: left;
        color: white;

        .react-tabs {

            margin: 0px;

            .sapper{
                border: 1px solid $mainColor;
                margin: 0px;
                width: 220px;
                box-sizing: border-box;
                padding: 10px;

                h2{
                    margin-bottom: 25px;
                    text-align: center;
                }

                input {
                    @include generalInput(white);
                    background: transparent;
                    margin-bottom: 5px;
                    color: $secondaryColor;
                }
                button {
                    margin: 25px 0px;
                    @include generalButton($mainColor,$tertiaryColor);
                    width: 100%;
                    -webkit-box-shadow: 1px 1px 5px 2px $secondaryColor;
                    -moz-box-shadow: 1px 1px 5px 2px $secondaryColor;
                    box-shadow: 1px 1px 5px 2px $secondaryColor;
                
                    
                }
            } 
            ul{
                padding: 0px;
                color: white;
                margin: 0px;
        
                li {
                    width: 50%;
                    display: inline-block;        
                    list-style-type: none;
                    padding: 5px 20px;
                    border: 1px solid $mainColor;
                    border-radius: 15px 15px 0px 0px;
                    margin: 0px;
                    text-align: center;
                }
            } 
        }
        #react-tabs-1, #react-tabs-3 {
            margin: 0px;
        }
        
        
    
        
    }
}     
    
        
    



//                      MISCELLANEOUS                      //

//https://codemyui.com/drop-down-list-with-hover-animation/

//https://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html

//https://tympanus.net/codrops/2012/10/04/custom-drop-down-list-styling/

::placeholder {
    color: $shadowStrong;
}
#header a:visited {
    color: white;
}



#NewPosts:hover #contentButtons {
    display: block;
}
#NewPosts button:hover {
    cursor: pointer;     
}


#ProfilePage > a:hover {

    color: $mainColor;
    cursor: pointer;
}
#editProfileSpan:hover {
    cursor: pointer;
}

#FilterList:hover #contentList {
    display: block;
}
#FilterList button:hover{
    cursor: pointer;  
}



#ProfileModal button:hover {
    cursor: pointer;
}
.deletePostButton:hover {
    cursor: pointer;
    color: rgb(148, 22, 22);
}

button:hover {
    cursor: pointer;
}
#landingPage {
    cursor: default;
    li:hover {
        cursor: pointer;
    }
}

// #singleItem:hover {
    
//     -webkit-box-shadow: 0px 0px 13px 2px $shadowStrong;
//     -moz-box-shadow: 0px 0px 13px 2px $shadowStrong;
//     box-shadow: 0px 0px 13px 2px $shadowStrong;
// }
