//                      ROOT                      //
#root{

}

//                      HEADER                      //
#container {

    width: 100%;
    background-color: rgb(12, 140, 245);   


    #header {
        width: 70%;
        margin: 0 auto;
        background-color: rgb(12, 140, 245);
        position: relative;
        height: 60px;
        border-radius: 10px;
        #bitSpan {
            font-size: 40px;
            display: inline-block;
            margin-top: 7px;
        }
        div {
            position: absolute;
            right: 30px;
            top: 17px;
            display: inline-block;
            span {
                margin-left: 17px;
                font-size: 20px;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}
//                      PEOPLE                      //

#PeoplePage {

    width: 70%;
    margin: 0 auto;
    #inputDiv {
        width: 100%;
        //place in var 
        -webkit-box-shadow: 0px 0px 70px -2px rgba(127,200,255,1);
        -moz-box-shadow: 0px 0px 70px -2px rgba(127,200,255,1);
        box-shadow: 0px 0px 70px -2px rgba(127,200,255,1);
    }

    #textInput {
        width: 80%;
        border: 0px;
        background-color: rgb(12, 140, 245);
        height: 35px; 
        color: white;       
    }

    //              itemList                //
    #itemList {
      

        #singleItem{
            margin-top: 15px;
            box-sizing: border-box;
            width: 100%;
            height: 90px;
            padding: 8px;


            //place in var class something
            -webkit-box-shadow: 0px 0px 13px 2px rgba(163,163,163,0.56);
            -moz-box-shadow: 0px 0px 13px 2px rgba(163,163,163,0.56);
            box-shadow: 0px 0px 13px 2px rgba(163,163,163,0.56);

            #imageDiv {
                width: 15%;
                // display: inline-block;
                float: left;                             
               
                
                img {
                    border-radius: 50%;
                    width: 100%;
                }
            }
            #nameAndDescriptionDiv {
                // display: inline-block;
                width: 62%;
                height: 90px;   
                float: left;                             
    
                p, h3 {
                    margin: 0px 0px 0px 10px;
                }
                h3{
                    margin-bottom: 5px;
                }
              
            }
            #lastPostDiv {
                display: inline-block;
                width: 13%;
               
            } 
        }               
    }
}