#container {
  width: 100%;
  background-color: #0c8cf5; }
  #container #header {
    width: 70%;
    margin: 0 auto;
    background-color: #0c8cf5;
    position: relative;
    height: 60px;
    border-radius: 10px; }
    #container #header #bitSpan {
      font-size: 40px;
      display: inline-block;
      margin-top: 7px;
      color: white; }
    #container #header div {
      position: absolute;
      right: 30px;
      top: 17px;
      display: inline-block; }
      #container #header div span {
        margin-left: 17px;
        font-size: 20px; }
        #container #header div span a {
          text-decoration: none; }

#PeoplePage {
  width: 70%;
  margin: 0 auto; }
  #PeoplePage #inputDiv {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(69, 171, 255, 0.7);
    -moz-box-shadow: 0px 0px 8px 5px rgba(69, 171, 255, 0.7);
    box-shadow: 0px 0px 8px 5px rgba(69, 171, 255, 0.7); }
    #PeoplePage #inputDiv i {
      font-size: 30px;
      padding-top: 5px;
      color: white; }
    #PeoplePage #inputDiv div {
      text-align: center; }
    #PeoplePage #inputDiv input {
      width: calc(100% - 80px);
      border: 0px;
      background-color: #0c8cf5;
      height: 40px;
      color: white;
      padding: 0px;
      float: left; }
    #PeoplePage #inputDiv #searchIconDiv {
      width: 40px;
      background-color: #0c8cf5;
      height: 40px;
      float: left;
      border-radius: 6px 0px 0px 0px; }
    #PeoplePage #inputDiv #cancelIconDiv {
      width: 40px;
      background-color: #0c8cf5;
      height: 40px;
      float: left;
      border-radius: 0px 6px 0px 0px; }
  #PeoplePage #itemList #singleItem {
    margin-top: 45px;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(163, 163, 163, 0.56);
    -moz-box-shadow: 0px 0px 13px 2px rgba(163, 163, 163, 0.56);
    box-shadow: 0px 0px 13px 2px rgba(163, 163, 163, 0.56); }
    #PeoplePage #itemList #singleItem #imageDiv {
      width: 80px;
      height: 80px;
      display: inline-block; }
      #PeoplePage #itemList #singleItem #imageDiv img {
        border-radius: 50%;
        display: block;
        max-height: 80px;
        max-width: 80px;
        margin: 0 auto; }
    #PeoplePage #itemList #singleItem #nameAndDescriptionDiv {
      display: inline-block;
      width: calc(100% - 140px);
      height: 80px;
      vertical-align: top; }
      #PeoplePage #itemList #singleItem #nameAndDescriptionDiv p, #PeoplePage #itemList #singleItem #nameAndDescriptionDiv h3 {
        margin: 0px 0px 0px 10px; }
      #PeoplePage #itemList #singleItem #nameAndDescriptionDiv h3 {
        margin-bottom: 5px; }
    #PeoplePage #itemList #singleItem #lastPostDiv {
      display: inline-block;
      width: 60px;
      height: 80px;
      vertical-align: top; }

#NewPosts {
  position: fixed;
  bottom: 150px;
  right: 150px;
  display: inline-block; }
  #NewPosts #contentButtons {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 50px; }
  #NewPosts i {
    color: orange;
    font-size: 45px;
    display: inline; }
  #NewPosts button {
    background-color: white;
    border: 0px; }
  #NewPosts span {
    display: inline-block; }

#ProfilePage {
  width: 70%;
  margin: 0 auto;
  text-align: center; }
  #ProfilePage img {
    border-radius: 50%;
    display: block;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    -webkit-box-shadow: 0px 0px 18px 2px rgba(163, 163, 163, 0.56);
    -moz-box-shadow: 0px 0px 18px 2px rgba(163, 163, 163, 0.56);
    box-shadow: 0px 0px 18px 2px rgba(163, 163, 163, 0.56); }
  #ProfilePage #postsAndCommentsDiv {
    position: relative; }
    #ProfilePage #postsAndCommentsDiv h4 {
      margin: 0px;
      padding: 7px;
      padding-left: 20px;
      background-color: rgba(163, 163, 163, 0.56);
      border-radius: 0px 20px 20px 0px;
      margin-left: 17px; }
    #ProfilePage #postsAndCommentsDiv span {
      background-color: #0c8cf5;
      border-radius: 50%;
      color: white;
      display: table-cell;
      height: 32px;
      width: 32px;
      text-align: center;
      vertical-align: middle; }
    #ProfilePage #postsAndCommentsDiv #PostsDiv {
      display: inline-block;
      position: relative; }
      #ProfilePage #postsAndCommentsDiv #PostsDiv div {
        position: absolute; }
    #ProfilePage #postsAndCommentsDiv #CommentsDiv {
      display: inline-block;
      position: relative;
      margin-left: 50px; }
      #ProfilePage #postsAndCommentsDiv #CommentsDiv div {
        position: absolute;
        top: 0px;
        left: 0px; }

#ProfileModal input {
  border: 0px;
  border-bottom: 1px solid red; }

#ProfileModal #uploadNameDiv {
  margin-bottom: 120px;
  margin-top: 50px; }
  #ProfileModal #uploadNameDiv label {
    color: red; }

#ProfileModal #uploadAboutDiv {
  margin-bottom: 20px; }

#ProfileModal button {
  background-color: #0c8cf5;
  padding: 10px;
  border: 0px;
  border-radius: 3px;
  color: white;
  -webkit-box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56);
  -moz-box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56);
  box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56);
  margin-left: 20px; }

::placeholder {
  color: white; }

#header a:visited {
  color: white; }

#NewPosts:hover #contentButtons {
  display: block; }

#ProfilePage > a:hover {
  color: #0c8cf5;
  cursor: pointer; }

#ProfileModal button:hover {
  cursor: pointer; }
