body {
  background-color: #f8eee7; }

#container {
  width: 100%;
  background-color: #f7882f; }
  #container #header {
    width: 60%;
    margin: 0 auto;
    background-color: #f7882f;
    position: relative;
    height: 60px;
    border-radius: 10px; }
    #container #header #bitSpan {
      font-size: 40px;
      display: inline-block;
      color: white; }
      #container #header #bitSpan a {
        text-decoration: none; }
    #container #header div {
      position: absolute;
      right: 30px;
      top: 17px;
      display: inline-block; }
      #container #header div span {
        margin-left: 17px;
        font-size: 20px; }
        #container #header div span a {
          text-decoration: none; }

#PeoplePage {
  width: 40%;
  margin: 0 auto; }
  #PeoplePage #inputDiv {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px 5px #f7c331;
    -moz-box-shadow: 0px 0px 8px 5px #f7c331;
    box-shadow: 0px 0px 8px 5px #f7c331; }
    #PeoplePage #inputDiv i {
      font-size: 30px;
      padding-top: 5px;
      color: white; }
    #PeoplePage #inputDiv div {
      text-align: center; }
    #PeoplePage #inputDiv input {
      width: calc(100% - 80px);
      border: 0px;
      background-color: #f7882f;
      height: 40px;
      color: white;
      padding: 0px;
      float: left; }
    #PeoplePage #inputDiv #searchIconDiv {
      width: 40px;
      background-color: #f7882f;
      height: 40px;
      float: left;
      border-radius: 6px 0px 0px 0px; }
    #PeoplePage #inputDiv #cancelIconDiv {
      width: 40px;
      background-color: #f7882f;
      height: 40px;
      float: left;
      border-radius: 0px 6px 0px 0px; }
  #PeoplePage #itemList #singleItem {
    margin-top: 45px;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(163, 163, 163, 0.56);
    -moz-box-shadow: 0px 0px 13px 2px rgba(163, 163, 163, 0.56);
    box-shadow: 0px 0px 13px 2px rgba(163, 163, 163, 0.56); }
    #PeoplePage #itemList #singleItem a {
      color: black; }
    #PeoplePage #itemList #singleItem #imageDiv {
      width: 80px;
      height: 80px;
      display: inline-block; }
      #PeoplePage #itemList #singleItem #imageDiv img {
        border-radius: 50%;
        display: block;
        max-height: 80px;
        max-width: 80px;
        margin: 0 auto; }
    #PeoplePage #itemList #singleItem #nameAndDescriptionDiv {
      display: inline-block;
      width: calc(100% - 140px);
      height: 80px;
      vertical-align: top; }
      #PeoplePage #itemList #singleItem #nameAndDescriptionDiv p, #PeoplePage #itemList #singleItem #nameAndDescriptionDiv h3 {
        margin: 0px 0px 0px 10px; }
      #PeoplePage #itemList #singleItem #nameAndDescriptionDiv h3 {
        margin-bottom: 5px; }
    #PeoplePage #itemList #singleItem #lastPostDiv {
      display: inline-block;
      width: 60px;
      height: 80px;
      vertical-align: top; }

#ProfilePage {
  width: 40%;
  margin: 0 auto;
  text-align: center; }
  #ProfilePage img {
    border-radius: 50%;
    display: block;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    -webkit-box-shadow: 0px 0px 18px 2px rgba(163, 163, 163, 0.56);
    -moz-box-shadow: 0px 0px 18px 2px rgba(163, 163, 163, 0.56);
    box-shadow: 0px 0px 18px 2px rgba(163, 163, 163, 0.56); }
  #ProfilePage h1 {
    margin: 15px 0px; }
  #ProfilePage #editProfileSpan {
    padding: 4px 8px;
    border: 2px solid #f7c331;
    border-radius: 10px; }
    #ProfilePage #editProfileSpan :hover {
      cursor: pointer; }
  #ProfilePage p {
    margin-top: 15px; }
  #ProfilePage #postsAndCommentsDiv {
    position: relative; }
    #ProfilePage #postsAndCommentsDiv h4 {
      margin: 0px;
      padding-left: 20px;
      padding-right: 10px;
      background-color: rgba(163, 163, 163, 0.56);
      border-radius: 0px 20px 20px 0px;
      margin-left: 17px;
      font-size: 22px;
      line-height: 32px; }
    #ProfilePage #postsAndCommentsDiv span {
      background-color: #f7882f;
      border-radius: 50%;
      color: white;
      display: table-cell;
      height: 32px;
      width: 32px;
      text-align: center;
      vertical-align: middle; }
    #ProfilePage #postsAndCommentsDiv #PostsDiv {
      display: inline-block;
      position: relative; }
      #ProfilePage #postsAndCommentsDiv #PostsDiv div {
        position: absolute; }
    #ProfilePage #postsAndCommentsDiv #CommentsDiv {
      display: inline-block;
      position: relative;
      margin-left: 50px; }
      #ProfilePage #postsAndCommentsDiv #CommentsDiv div {
        position: absolute;
        top: 0px;
        left: 0px; }

#ProfileModal input {
  border: 0px;
  border-bottom: 1px solid red;
  background-color: #f8eee7; }

#ProfileModal #uploadNameDiv {
  margin-bottom: 120px;
  margin-top: 50px; }
  #ProfileModal #uploadNameDiv label {
    color: red; }

#ProfileModal #uploadAboutDiv {
  margin-bottom: 20px; }

#ProfileModal button {
  background-color: #f7882f;
  padding: 10px;
  border: 0px;
  border-radius: 3px;
  color: white;
  -webkit-box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56);
  -moz-box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56);
  box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56); }

#FeedPage {
  width: 50%;
  margin: 0 auto; }

#PostList {
  width: 90%;
  display: inline-block; }

#SideBarNewPosts {
  width: 1%;
  display: inline-block;
  vertical-align: top;
  position: relative; }

#FilterList {
  position: relative;
  top: 20px;
  left: 20px;
  display: inline-block;
  -webkit-box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56);
  -moz-box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56);
  box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56); }
  #FilterList button {
    background-color: #f7c331;
    border: 0px;
    border-radius: 3px;
    width: 120px;
    color: white; }
  #FilterList #contentList {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    /* hides sub-menu */
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-2em);
    transition: all 0.4s ease-in-out 0.3s, visibility 1s linear 0.5s, z-index 0s linear 0.5s;
    outline: none;
    -webkit-box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56);
    -moz-box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56);
    box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56); }
    #FilterList #contentList button {
      width: 120px;
      padding: 5px; }

#FilterList:focus #contentList,
#FilterList:focus-within #contentList,
#FilterList:hover #contentList {
  visibility: visible;
  /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
  /* this removes the transition delay so the menu will be visible while the other styles transition */ }

#NewPosts {
  position: fixed;
  bottom: 150px;
  right: 80px;
  display: inline-block; }
  #NewPosts i {
    border-radius: 50%;
    margin-top: 5px; }
  #NewPosts #contentButtons {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 65px;
    background-color: #f8eee7; }
  #NewPosts i {
    color: #f7c331;
    font-size: 65px;
    display: inline;
    -webkit-box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56);
    -moz-box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56);
    box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56); }
  #NewPosts button {
    background-color: #f8eee7;
    border: 0px; }
  #NewPosts span {
    display: inline-block; }

.Post {
  margin-top: 20px;
  padding: 20px;
  background-color: #f4decb;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56);
  -moz-box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56);
  box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56); }
  .Post .textPostDiv {
    text-align: left;
    display: inline-block;
    width: 33%; }
  .Post .commentPostDiv {
    text-align: right;
    display: inline-block;
    width: 33%; }
  .Post .deletePostButton {
    text-align: center;
    display: inline-block;
    width: 33%; }
  .Post .imageDivOnFeed img {
    width: 100%;
    margin-bottom: 16px; }
  .Post .videoDivOnFeed iframe {
    width: 100%;
    height: 330px;
    margin-bottom: 16px; }

.imageModal {
  background-color: #f8eee7;
  position: fixed;
  width: 450px;
  top: 100px;
  right: 100px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56);
  -moz-box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56);
  box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56); }
  .imageModal div {
    margin-top: 20px; }
  .imageModal input {
    border: 0px;
    border-bottom: 1px solid red;
    background-color: #f8eee7;
    width: 100%;
    margin-top: 15px; }
  .imageModal button {
    background-color: #f7882f;
    padding: 10px;
    border: 0px;
    border-radius: 3px;
    color: white;
    -webkit-box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56);
    -moz-box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56);
    box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56);
    display: inline-block;
    margin-right: 20px; }

.textModal {
  background-color: #f8eee7;
  position: fixed;
  width: 450px;
  top: 100px;
  right: 100px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56);
  -moz-box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56);
  box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56); }
  .textModal div {
    margin-top: 20px; }
  .textModal input {
    border: 0px;
    border-bottom: 1px solid red;
    background-color: #f8eee7;
    width: 100%;
    margin-top: 15px; }
  .textModal button {
    background-color: #f7882f;
    padding: 10px;
    border: 0px;
    border-radius: 3px;
    color: white;
    -webkit-box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56);
    -moz-box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56);
    box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56);
    display: inline-block;
    margin-right: 20px; }

.videoModal {
  background-color: #f8eee7;
  position: fixed;
  width: 450px;
  top: 100px;
  right: 100px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56);
  -moz-box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56);
  box-shadow: 2px 4px 13px 0px rgba(92, 92, 92, 0.56); }
  .videoModal div {
    margin-top: 20px; }
  .videoModal input {
    border: 0px;
    border-bottom: 1px solid red;
    background-color: #f8eee7;
    width: 100%;
    margin-top: 15px; }
  .videoModal button {
    background-color: #f7882f;
    padding: 10px;
    border: 0px;
    border-radius: 3px;
    color: white;
    -webkit-box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56);
    -moz-box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56);
    box-shadow: 5px 5px 6px 1px rgba(163, 163, 163, 0.56);
    display: inline-block;
    margin-right: 20px; }

#postDetails {
  width: 40%;
  margin: 20px auto;
  background-color: #f4decb;
  border-radius: 15px;
  padding: 0px;
  -webkit-box-shadow: 0px 0px 18px 2px rgba(92, 92, 92, 0.56);
  -moz-box-shadow: 0px 0px 18px 2px rgba(92, 92, 92, 0.56);
  box-shadow: 0px 0px 18px 2px rgba(92, 92, 92, 0.56); }
  #postDetails .Post {
    box-shadow: 0px 0px 0px 0px;
    border-radius: 15px;
    margin: 0px;
    padding: 10px; }
  #postDetails .commentsDiv {
    padding: 10px 20px; }
    #postDetails .commentsDiv div {
      display: inline-block;
      margin-left: 15px;
      background-color: rgba(163, 163, 163, 0.56);
      padding: 2px 10px;
      border-radius: 15px; }
      #postDetails .commentsDiv div p {
        display: inline-block;
        vertical-align: middle;
        margin: 0px;
        padding-left: 12px; }
      #postDetails .commentsDiv div span {
        vertical-align: middle;
        display: inline-block; }
    #postDetails .commentsDiv img {
      border-radius: 50%;
      display: inline-block;
      height: 40px;
      width: 40px; }
  #postDetails #commentControls {
    padding: 10px 20px; }
    #postDetails #commentControls img {
      border-radius: 50%;
      display: inline-block;
      height: 40px;
      width: 40px; }
    #postDetails #commentControls div {
      display: inline-block;
      margin-left: 15px;
      background-color: #f8eee7;
      padding: 7px 10px;
      border-radius: 25px;
      width: calc(100% - 60px); }
      #postDetails #commentControls div input {
        border: 0px;
        border-bottom: 1px solid red;
        background-color: rgba(163, 163, 163, 0.56);
        width: 100%;
        background-color: #f8eee7; }

::placeholder {
  color: rgba(92, 92, 92, 0.56); }

#header a:visited {
  color: white; }

#NewPosts:hover #contentButtons {
  display: block; }

#NewPosts button:hover {
  cursor: pointer; }

#ProfilePage > a:hover {
  color: #f7882f;
  cursor: pointer; }

#editProfileSpan:hover {
  cursor: pointer; }

#FilterList:hover #contentList {
  display: block; }

#FilterList button:hover {
  cursor: pointer; }

#ProfileModal button:hover {
  cursor: pointer; }

.deletePostButton:hover {
  cursor: pointer;
  color: #941616; }
